{% load cart %}

{% load currency %}

{% load modules %}

{% featured_package_module module as featured_package %}

<div class="module {% if webstore_config.vertical_nav %}flex-1 module-min-width{% else %}w-full{% endif %}">
    <div class="module-body">
        <div class="module-header">
            <h3>{{ module.header }}</h3>
        </div>
        <div class="text-center">
            {% if featured_package.package.image %}
                <a class="modal-open" data-href="package-{{ featured_package.package.id }}">
                    <img src="/{{ featured_package.package.image.url }}"
                         data-tippy-content="{{ language.translations.click_more_details }}"
                         width="190px" height="190px"
                         class="border-md" alt="packageImage"/>
                </a>
            {% else %}
                <a class="modal-open" data-href="package-{{ featured_package.package.id }}">
                    <img src="/static/store_content/package_images/default_package_image.png"
                         data-tippy-content="{{ language.translations.click_more_details }}"
                         width="190px" height="190px"
                         class="border-sm" alt="packageImage"/>
                </a>
            {% endif %}
        </div>

        <div>
            <div class="float-right">
                {# If the package is already in the cart then we display a remove button not a buy button #}
                {# First lets see if the cart has any contents #}
                {% if cart|length > 0 %}
                    {# If there is stuff in the cart #}
                    {# Check if that package is already in the cart #}
                    {% if cart|contains_package:featured_package.package.id %}
                        <form name="remove-from-cart" method="post" action="">
                            <input type="hidden" name="remove" value="true">
                            <input type="hidden" name="package_id" value="{{ featured_package.package.id }}">
                            {% csrf_token %}
                            <input type="submit" value="{{ language.translations.remove }}"
                                   class="button button-danger">
                        </form>
                    {% else %}
                        {# If not then just display the buy button #}
                        <button type="button" class="button button-brand modal-open"
                                data-href="package-{{ featured_package.package.id }}">
                            <i class="fa fa-cart-plus"></i> {{ language.translations.buy }}
                        </button>
                    {% endif %}
                    {# If not then just display the buy button #}
                {% else %}
                    <button type="button" class="button button-brand modal-open"
                            data-href="package-{{ featured_package.package.id }}">
                        <i class="fa fa-cart-plus"></i> {{ language.translations.buy }}
                    </button>
                {% endif %}
            </div>
            <p style="padding-top:0px; margin:0px; font-size: 12px;">{{ featured_package.package.name }}<br/>
                {% if featured_package.package.show_package_until %}
                    <div style="font-size: 12px;" class="text text-danger"
                         id="show_package_until_id_{{ featured_package.package.id }}">
                        <strong><i class="fa fa-clock"></i> {{ language.translations.ending_soon }}</strong>
                        <script>
                            // Set the date we're counting down to
                            var countDownDate_{{ featured_package.package.id }} = new Date("{{ featured_package.package.show_package_until|date:'m d, Y H:i' }}").getTime();

                            // Update the count down every 1 second
                            var x = setInterval(function () {

                                // Get todays date and time
                                var now = new Date().getTime();

                                // Find the distance between now an the count down date
                                var distance = countDownDate_{{ featured_package.package.id }} - now;

                                // Time calculations for days, hours, minutes and seconds
                                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                // Display the result in the element with id="demo"
                                document.getElementById("show_package_until_id_{{ featured_package.package.id }}").innerHTML = '<strong><i class="fa fa-clock"></i> ' + days + "d " + hours + "h "
                                    + minutes + "m " + seconds + "s</strong> ";

                                // If the count down is finished, write some text
                                if (distance < 0) {
                                    clearInterval(x);
                                    document.getElementById("show_package_until_id_{{ featured_package.package.id }}").innerHTML = "EXPIRED";
                                }
                            }, 1000);
                        </script>
                    </div>
                {% endif %}
            {% if not featured_package.package.allow_customer_change_price %}

                {% check_for_sale featured_package.package.id webstore.id as package_on_sale %}
                {% if package_on_sale.is_on_sale %}
                    {% if 'allow_customer_to_change_price' in package_on_sale %}
                        {{ language.translations.you_decide_how_much }}
                    {% else %}
                        <span class="text-danger"><s>{% get_price_using_currency package_on_sale.original_price webstore %}</s></span>
                        <span class="text-success">{% get_price_using_currency package_on_sale.sale_price webstore %}</span>
                    {% endif %}
                {% else %}
                    {% get_price_using_currency featured_package.package.price webstore %}
                {% endif %}
            {% endif %}
            <div class="modal" id="package-{{ featured_package.package.id }}">
                <div class="modal-overlay"></div>
                <div class="modal-container">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>{{ featured_package.package.name }}</h2>
                            <div class="modal-close">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>

                        <div class="flex">

                            <div class="w-1/3">
                                <img src="/{{ featured_package.package.image.url }}" alt="Package Image">
                            </div>

                            <div class="w-2/3">
                                {{ featured_package.package.description|safe }}
                            </div>

                        </div>

                        <div class="modal-footer mt-6 w-full">
                            <form name="add-to-cart" method="post" action="" class="w-full">
                                <div class="flex w-full flex-wrap">
                                    <div class="w-1/3 text-left">
                                        <div class="flex justify-start">
                                            {% if featured_package.package.allow_customer_change_price %}
                                                <strong>You choose price.</strong>
                                            {% elif featured_package.package.price == 0 %}
                                                <strong>Free.</strong>
                                            {% else %}
                                                {% if not featured_package.package.allow_customer_change_price %}
                                                    {% check_for_sale featured_package.package.id webstore.id as package_on_sale %}
                                                    {% if package_on_sale.is_on_sale %}
                                                        {% if 'allow_customer_to_change_price' in package_on_sale %}
                                                            {{ language.translations.you_decide_how_much }}
                                                        {% else %}
                                                            <strong><span
                                                                    class="text-red-700 text-md mr-1"><s>{% get_price_using_currency package_on_sale.original_price webstore %}</s></span>
                                                                <span class="text-brand">{% get_price_using_currency package_on_sale.sale_price webstore %}</span></strong>
                                                        {% endif %}
                                                    {% else %}
                                                        {% get_price_using_currency featured_package.package.price webstore %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-2/3">
                                        <input name="package_id" value="{{ featured_package.package.id }}"
                                               type="hidden">
                                        <div class="flex justify-end">
                                            {% csrf_token %}
                                            {% get_add_to_cart_buttons language package_payments featured_package.package webstore as cart_button %}
                                            {% if cart_button.is_allowed_to_purchase %}
                                                {% if featured_package.package.purchase_type == 'O' %}
                                                    <input type="submit" name="add_to_cart"
                                                           class="button button-brand cursor-pointer"
                                                           value="{{ language.translations.add_to_cart }}">
                                                {% elif featured_package.package.purchase_type == 'S' %}
                                                    <input type="submit" name="add_to_cart"
                                                           class="button button-brand cursor-pointer"
                                                           value="{{ language.translations.add_to_cart }}">
                                                {% endif %}
                                            {% else %}
                                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                                      title="{{ cart_button.reason }}">
                                                            {% if featured_package.package.purchase_type == 'O' %}
                                                                <button class="button button-brand cursor-pointer"
                                                                        style="pointer-events: none;" type="button"
                                                                        disabled>{{ language.translations.add_to_cart }}</button>
                                                            {% elif featured_package.package.purchase_type == 'S' %}
                                                                <button class="button button-brand cursor-pointer"
                                                                        style="pointer-events: none;" type="button"
                                                                        disabled>{{ language.translations.subscribe }}</button>
                                                            {% endif %}
                                                        </span>
                                            {% endif %}
                                            {% if webstore.allow_gifting and not featured_package.package.disable_gifting %}
                                                <button type="button"
                                                        class="button button-info dropdown-toggle gift-package"
                                                        data-toggle="dropdown"
                                                        data-package="{{ featured_package.package.id }}">
                                                    <i class="fa fa-gift"></i> {{ language.translations.gift_this_package }}
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full gift-username" id="gift-{{ featured_package.package.id }}">
                                        {% if webstore.allow_gifting and not featured_package.package.disable_gifting %}
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 style="width: 100%; padding: 10px;">
                                                <div class="form-group">
                                                    <input type="text" class="form-input"
                                                           placeholder="{{ language.translations.enter_gift_ign }}"
                                                           name="gifting_ign">
                                                    <div class="float-right">
                                                        <input class="button button-brand cursor-pointer" type="submit"
                                                               value="{{ language.translations.gift }}">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>