{% extends "store/default/base.html" %}

{% block title %}{{ webstore.name }} | {{ page.title }}{% endblock %}

{# Loading the required template tags #}
{% load cart %}

{% load currency %}

{% block content %}

    {% include 'store/default/nav.html' %}

    <!-- Break -->
    <br/>

    <!-- Main Login Content -->
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ language.translations.requires_password }}</div>
                    <div class="card-body">

                        <form name="page_password_protect" action="" method="post">

                            <div class="form-group">
                                <input class="form-control form-control-lg" type="password" name="password" placeholder="{{ language.translations.enter_password }}" required>
                            </div>
                            {% csrf_token %}
                            <input type="submit" class="btn btn-block btn-secondary" value="{{ language.translations.enter }}">
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% for module in modules %}
                    {% if module.on_homepage %}
                        {% if module.content_type.model == 'serverstatusmodule' %}
                            {# Now we know it's a server status module. Let's check if the server is online first #}
                            {% autoescape off %}{% check_server_status language module %}{% endautoescape %}
                        {% else %}
                            <div class="card">
                                <div class="card-header">
                                    {{ module.header }}
                                </div>
                                <div class="card-body">
                                    {% if gift_card %}
                                        {% autoescape off %}{% render_module module gift_card %}{% endautoescape %}
                                    {% else %}
                                        {% autoescape off %}{% render_module module %}{% endautoescape %}
                                    {% endif %}
                                </div>
                            </div>
                            <br/>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
    <!-- End Main Login Content -->

    {% include 'store/default/footer.html' %}

{% endblock %}