{% extends "store/default/base.html" %}

{% block title %}{{ webstore.name }} | Payment Complete{% endblock %}

{# Loading the required template tags #}
{% load cart %}

{% load currency %}

{% block content %}

    {% include 'store/default/nav.html' %}

    <!-- Break -->
    <br/>

    <!-- Main Login Content -->
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Start Payment Cancelled -->
        <div class="card">
            <div class="card-header">
                Payment Complete
            </div>
            <div class="card-body">
                {% if webstore.payment_complete_page %}
                    <p>{{ webstore.payment_complete_page|safe }}</p>
                {% else %}
                    <p>{{ language.translations.payment_complete }} <br/><br/>
                    {{ language.translations.how_to_receive_commands }}<br/><br/>

                    {{ language.translations.thank_you_for_purchasing }}</p>
                {% endif %}
            </div>
        </div>
        <!-- End Payment Cancelled -->

    </div>
    <!-- End Main Login Content -->

    {% include 'store/default/footer.html' %}

{% endblock %}