{% extends 'store/default-new/base.html' %}

{% block title %}{{ webstore.name }} | {{ language.translations.privacy_policy }}{% endblock %}

{% block content %}

{# Loading the required template tags #}
{% load cart %}

{% load modules %}

{% load currency %}

    {% include 'store/default-new/top-nav.html' %}

    <div class="{% if webstore_config.vertical_nav %}flex{% endif %}">
        {% include 'store/default-new/nav.html' %}

        <div class="{% if webstore_config.vertical_nav %}w-4/5 pl-3{% endif %}">

            <div class="{% if not webstore_config.vertical_nav %}flex{% endif %}">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} mr-4 mt-0 ml-2">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="w-full">
                    <div class="card mr-0 mt-0">
                        <div class="card-header">
                            <h3>{{ language.translations.payment_cancelled }}</h3>
                        </div>
                        <div class="card-body pt-3">

                            <p>{{ language.translations.cancelled_your_payment }}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}