{% load cart %}

{% load modules %}

{% recent_payments_module module as recent_payments %}
<div class="card">
    <div class="card-header">
        {{ module.header }}
    </div>
    <div class="card-body">
        {% for payment in recent_payments.payments %}
            <div class="row">
                <div class="col-md-2">
                    <img src="https://minotar.net/avatar/{{ payment.payment.customer.username }}/35">
                </div>
                <div class="col-md-10">
                    <div style="font-size: 15px">
                        <strong>
                            {{ payment.payment.customer.username }}
                            {% if recent_payments.module.display_time_of_purchase %}
                                - {{ payment.payment.date }}
                            {% endif %}
                        </strong>
                        <br/>
                        {% if recent_payments.module.display_purchased_package %}
                            {% for package_bought in payment.packages_bought %}
                                {{ package_bought }} {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if recent_payments.module.display_price_of_purchase %}
                            - {{ webstore.currency }}{{ payment.payment.amount }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if not forloop.last %}
                <br/>
            {% endif %}
        {% endfor %}
    </div>
</div>
<br/>

